In [31]:
import nflgame
import pandas as pd
import numpy as np

# Defensive Stats Dataframe

In [53]:
teams_map = {}
teams = []
for team in nflgame.teams:
    teams.append(team[0])
    for i in range(len(team)):
        teams_map[team[i]] = team[0]

In [57]:
# Build DataFrame - Index for Player name and week #
wks = range(1,18)
idxs = [teams, wks]

idx = pd.MultiIndex.from_product(idxs, names=['name', 'week'])
columns = [
    'rushing_att', 
    'rushing_yds', 
    'rushing_tds', 
    'fumbles_tot',
    'DNP',
    'fantasy_points'
]
df = pd.DataFrame(data=None, index=idx, columns=columns)

In [58]:
df.head(5)

          rushing_att rushing_yds rushing_tds fumbles_tot  DNP fantasy_points
name week
ARI  1            NaN         NaN         NaN         NaN  NaN            NaN
     2            NaN         NaN         NaN         NaN  NaN            NaN
     3            NaN         NaN         NaN         NaN  NaN            NaN
     4            NaN         NaN         NaN         NaN  NaN            NaN
     5            NaN         NaN         NaN         NaN  NaN            NaN

# Get Data

In [2]:
# NFL Games for 2016
games = nflgame.games(2016)

In [63]:
for g in games:
    wk = g.schedule['week']
    rushing_att_h = 0
    rushing_yds_h = 0
    fumbles_tot_h = 0
    rushing_tds_h = 0
    
    rushing_att_a = 0
    rushing_yds_a = 0
    fumbles_tot_a = 0
    rushing_tds_a = 0
    for p in g.players.rushing():
        if p.home:
            rushing_att_h += p.rushing_att
            rushing_yds_h += p.rushing_yds
            fumbles_tot_h += p.fumbles_tot
            rushing_tds_h += p.rushing_tds
        else:
            rushing_att_a += p.rushing_att
            rushing_yds_a += p.rushing_yds
            fumbles_tot_a += p.fumbles_tot
            rushing_tds_a += p.rushing_tds
    
    # Home Defense accumulates Away Offense
    df.loc[(g.home, wk), 'rushing_att'] = rushing_att_a
    df.loc[(g.home, wk), 'rushing_yds'] = rushing_yds_a
    df.loc[(g.home, wk), 'fumbles_tot'] = fumbles_tot_a
    df.loc[(g.home, wk), 'rushing_tds'] = rushing_tds_a
    
    # Away Defense accumulates Home Offense
    df.loc[(g.away, wk), 'rushing_att'] = rushing_att_h
    df.loc[(g.away, wk), 'rushing_yds'] = rushing_yds_h
    df.loc[(g.away, wk), 'fumbles_tot'] = fumbles_tot_h
    df.loc[(g.away, wk), 'rushing_tds'] = rushing_tds_h

In [ ]:
# Calculate Fantasy Points
df['fantasy_points'] = df['rushing_yds'] * .1 + df['rushing_tds'] * 6 - df['fumbles_tot'] * 2

In [ ]:
# DNP
df.loc[df['fantasy_points'].isnull(), 'DNP'] = True
df.loc[df['fantasy_points'].notnull(), 'DNP'] = False

# Fill NaNs
df = df.fillna(0)

# Boolean Values to int
df['DNP'] = df['DNP'].astype('int')

In [64]:
df.head(5)

          rushing_att rushing_yds rushing_tds fumbles_tot  DNP fantasy_points
name week
ARI  1             31         106           1           3  NaN            NaN
     2             21          85           0           1  NaN            NaN
     3             32         208           3           3  NaN            NaN
     4             23          41           0           1  NaN            NaN
     5             36         151           2           0  NaN            NaN

In [52]:
set(teams_map.values())

{'ARI',
 'ATL',
 'BAL',
 'BUF',
 'CAR',
 'CHI',
 'CIN',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GB',
 'HOU',
 'IND',
 'JAC',
 'KC',
 'LA',
 'MIA',
 'MIN',
 'NE',
 'NO',
 'NYG',
 'NYJ',
 'OAK',
 'PHI',
 'PIT',
 'SD',
 'SEA',
 'SF',
 'STL',
 'TB',
 'TEN',
 'WAS'}